html, body {
}
.main-container{
    margin-top:65px;
    background:rgba(255, 255, 255, 0.8);
    padding-bottom:20px;
}
.navbar-njuko{
    background:#2d353c;
}
.navbar{
    margin-bottom:0px;
}
.mt-20{
    margin-top:20px;
}
@media (min-width: 1200px){
    .container {
        width: 1024px;
    }
}